<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Plans - Fitness Freak</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="membership-page">
    <header>
        <h1>Fitness Freak</h1>
        <nav>
            <a href="/Home">Home</a>
            <a href="/about">About Us</a>
            <a href="/membership">Membership</a>
        </nav>
    </header>

    <section>
        <h2>Membership Plans</h2>
        <p>Choose the best plan that fits your fitness goals and start your journey with Fitness Freak today!</p>

        <h3>Basic Plan</h3>
        <p>Access to gym facilities during regular hours. Perfect for casual users.</p>
        <p>Price: 3k pkr/month</p>

        <h3>Premium Plan</h3>
        <p>Includes access to group classes and personal training sessions.</p>
        <p>Price: 6k pkr/month</p>

        <h3>VIP Plan</h3>
        <p>Unlimited access to all services, including priority booking for classes and personal sessions.</p>
        <p>Price: $8k pkr/month</p>
    </section>

    <footer>
        <p>&copy; 2024 Fitness Freak. All rights reserved.</p>
    </footer>
</body>
</html>

